<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Student_attendanceMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into STUDENT_ATTENDANCE(
			CLASS_ID,	
			CLASS_NO,	
			TYPE,	
			STUDENT_ID,	
			ID,
			STUDENT_NAME,
			INPUT_TIME
		) values (
			#{CLASS_ID},	
			#{CLASS_NO},	
			#{TYPE},	
			#{STUDENT_ID},	
			#{ID},
			#{STUDENT_NAME},
			#{INPUT_TIME}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from STUDENT_ATTENDANCE
		where 
			ID = #{ID}
	</delete>
	
	
	<!-- 修改 状态-->
	<update id="editType" parameterType="pd">
		update  STUDENT_ATTENDANCE
			set 
				TYPE = #{TYPE}
			where 
				ID = #{ID}
	</update>
<!--	修改 -->
	<update id="edit" parameterType="pd">
		update  STUDENT_ATTENDANCE
			set 
				CLASS_ID = #{CLASS_ID},
				CLASS_NO = #{CLASS_NO},
				TYPE = #{TYPE},
				STUDENT_ID = #{STUDENT_ID},
				STUDENT_NAME = #{STUDENT_NAME}
			ID = ID
			where 
				ID = #{ID}
	</update>
	
	
<!--	 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CLASS_ID,	
			CLASS_NO,	
			TYPE,	
			STUDENT_ID,	
			ID,
			STUDENT_NAME,
			INPUT_TIME
		from 
			STUDENT_ATTENDANCE
		where 
			ID = #{ID}
	</select>
	<!-- 通过ID获取数据 NAME从学生表查询 -->
	<select id="findById1" parameterType="pd" resultType="pd">
		select 
			a.CLASS_ID,	
			a.CLASS_NO,	
			a.TYPE,	
			a.STUDENT_ID,	
			a.ID,
			a.STUDENT_NAME,
			a.INPUT_TIME,
			s.NAME
		from 
			STUDENT_ATTENDANCE a,STUDENT s
		where 
			a.ID = #{ID} and a.STUDENT_ID = s.CARD_NO
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CLASS_ID,	
				a.CLASS_NO,	
				a.TYPE,	
				a.STUDENT_ID,	
				a.ID,
				a.STUDENT_NAME,
				s.NAME,
				c.NAME AS CLASSNAME,
				a.INPUT_TIME
		from 
				STUDENT_ATTENDANCE a, STUDENT s, CLASS c
		<where>
			<if test="true">
				and a.STUDENT_ID = S.CARD_NO AND A.CLASS_ID = C.ID
			</if>
			<if test=" pd.CLASS_ID != null and pd.CLASS_ID !='' ">
				and a.CLASS_ID = #{pd.CLASS_ID}
			</if>
			<if test=" pd.CLASS_NO != null and pd.CLASS_NO !='' ">
				and a.CLASS_NO = #{pd.CLASS_NO}
			</if>
			<if test=" pd.TYPE != null and pd.TYPE !='' ">
				and a.TYPE = #{pd.TYPE}
			</if>
			<if test=" pd.STUDENT_ID != null and pd.STUDENT_ID !='' ">
				and a.STUDENT_ID = #{pd.STUDENT_ID}
			</if>
			<if test=" pd.ID != null and pd.ID !='' ">
				and a.ID = #{pd.ID}
			</if>
			<if test=" pd.STUDENT_NAME != null and pd.STUDENT_NAME !='' ">
				and a.STUDENT_NAME = #{pd.STUDENT_NAME}
			</if>
			
		</where>
		ORDER BY a.TYPE
	</select>
	
	<!-- 列表 -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CLASS_ID,	
				a.CLASS_NO,	
				a.TYPE,	
				a.STUDENT_ID,	
				a.ID,
				a.STUDENT_NAME,
				s.NAME,
				c.NAME AS CLASSNAME,
				a.INPUT_TIME
		from 
				STUDENT_ATTENDANCE a, STUDENT s, CLASS c
		<where>
			<if test="true">
				and a.STUDENT_ID = S.CARD_NO AND A.CLASS_ID = C.ID
			</if>
			<if test=" CLASS_ID != null and CLASS_ID !='' ">
				and a.CLASS_ID = #{CLASS_ID}
			</if>
			<if test=" CLASS_NO != null and CLASS_NO !='' ">
				and a.CLASS_NO = #{CLASS_NO}
			</if>
			<if test=" TYPE != null and TYPE !='' ">
				and a.TYPE = #{TYPE}
			</if>
			<if test=" STUDENT_ID != null and STUDENT_ID !='' ">
				and a.STUDENT_ID = #{STUDENT_ID}
			</if>
			<if test=" ID != null and ID !='' ">
				and a.ID = #{ID}
			</if>
			<if test=" STUDENT_NAME != null and STUDENT_NAME !='' ">
				and a.STUDENT_NAME = #{STUDENT_NAME}
			</if>
			
		</where>
		ORDER BY a.TYPE
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll2" parameterType="pd" resultType="pd">
		select
				a.CLASS_ID,	
				a.CLASS_NO,	
				a.TYPE,	
				a.STUDENT_ID,	
				a.ID,
				a.STUDENT_NAME,
				a.INPUT_TIME
		from 
				STUDENT_ATTENDANCE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from STUDENT_ATTENDANCE
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>